div.guideline p {
  padding: 10px;
  background-color: #fae7e8;
  border-radius: 5px;
  border-left: 6px solid #e45460;
  font: normal 14px "Source Sans Pro", Menlo, Consolas, Monaco, monospace;
}

div.guideline p::before { 
  content: "Guideline: ";
  font-weight: bold;
  display: inline;
}