[bumpversion]
current_version = 0.1.0
commit = True
message = UPDATE: Version {current_version} to {new_version}
tag = True
tag_message = 

[bumpversion:file:src/fhzz/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:CHANGELOG.md]
search = [Unreleased]
replace = [Unreleased]
	===
	
	[{new_version}] - {now:%Y-%m-%d}

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}
