[defaults]
inventory=/etc/inventory
roles_path=roles
retry_files_enabled=False
gathering=explicit
allow_world_readable_tmpfiles=True
display_skipped_hosts=False
deprecation_warnings=False
display_ok_hosts = false

[inventory]
cache=True
cache_plugin=jsonfile
any_unparsed_is_failed=True

[ssh_connection]
retries=3
pipelining = False
